/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html {
  font-size: 0.75rem;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

/* main grid container */
/* basic layout */
.site {
  max-width: 50em;
  margin: 0 auto;
}

/* site title */

/* whole header */
.title {
}

/* title text */
.site-title {
  text-align: center;
}

/* all content minus title and footer */
.main-area {
  padding-left: 1em;
  padding-right: 1em;
}

/* splash */

.splash {
}

.splash-content {
}

.splash-text {
}

/* --------------------------- buckets basic flexbox --------------------------------- */
/* buckets - images plus text */
.buckets ul {
  display: flex;
  flex-direction: column;
}

.buckets ul {
  padding-left: 0;
}

.buckets li {
  padding-bottom: 1em;
}

/* ------------------------------------------------------------------------------------- */

/* ---------------------------- buckets image grid ---------------------------------------- */

/* holds single img plus text */
.bucket {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

/* have title overlay image and fill all available space - note works when title is a link, not header */
.bucket-title {
  padding: 1em;

  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  grid-column: 1;
  grid-row: 1/2;

  display: flex;
  align-items: flex-end;

  background-color: hsla(0, 0%, 5%, 0.4);
}

/* place image and title in same grid location */
.bucket-img {
  /* max-height: 50px; */
  grid-column: 1;
  grid-row: 1/2;

  /* make images same height */
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* ------------------------------------------------------------------------------------------------------------ */

.more {
}

/* for iframe */
.more-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.more-title {
}

.top-picks {
}

.top-content {
}

.top-title {
}

.top-picks ul,
.top-pics li {
  padding-left: 0;
}

.spotlight-picks {
}

.spotlight-content {
}

.spotlight-title {
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.colophon ul {
  padding-left: none;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.colophon a {
  text-decoration: none;
  color:white;
  font-weight:600;
}

.colophon{
    background-color: black;
    padding: 1em;
}

@media screen and (min-width: 600px) {
      /* flex container for buckets */

   .buckets ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .buckets li {
    width: 20%;
    padding-left: 0;
  }

  .bucket-img {
    height: 100px;
  }

  .bucket-title{
    font-size: 1rem;
  }

}

/* ----------------------------------------------------------------------------- */
@media screen and (min-width: 1000px) {
  .site {
    /* full bleed */
    max-width: none;
  }

  .buckets ul {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
  }

  .buckets li {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .bucket-img {
    height: 100px;
  }

  .bucket-title{
    font-size: 1.25rem;
  }

  .main-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 1em;

    font-size: 1.15rem;
    
  }

  .splash {
    grid-column: 1/-1;
    text-align: center;
  }

  .buckets {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .spotlight {
    grid-column: 3/5;
  }

  .top-picks {
    grid-column: 1/3;
    grid-row: 3/6;
    /* grid-row: span 3; */
  }
  .more {
    grid-column: 3/5;
    grid-row: 4;
  }

   /* flex container for buckets */

   /* .buckets ul {
    display: flex;
    justify-content: space-around;
  }
  .buckets li {
    width: 20%;
    padding-left: 0;
  } */

  .bucket-img {
    height: 125px;
  }

}

@media screen and (min-width: 1200px) {
  .bucket-img {
    height: 200px;
  }

  /* define grid */
  .main-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 1em;

    font-size: 1.25rem;
  }

  .splash {
    grid-column: 1/-1;
    text-align: center;
  }

  .buckets {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .spotlight {
    grid-column: 3/5;
  }

  .more {
    grid-column: 3/5;
    grid-row: 4/5;
  }

  .top-picks {
    grid-column: 1/3;
    grid-row: 3/7;
  }
  /* ------------------------------------------------------------------------------------------------- */

  /* flex container for buckets */

  /* .buckets ul {
    display: flex;
    justify-content: space-around;
  }
  .buckets li {
    width: 20%;
    padding-left: 0;
  } */

  .colophon ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
  /* ---------------------------------------------------------------------------------------------------- */

  /* featured spotlight card grid */
  .card {
    padding: 1em 1em;
    border: 1px solid hsla(0, 0%, 5%, 0.4);

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 3em 1fr 2em; */
    grid-template-rows: auto auto auto;
    grid-gap: 0.75em;
  }

  .card-img {
    grid-column: 1;
    grid-row: 1/3;
  }

  .card-title {
    grid-column: 2;
    grid-row: 1;
  }

  .card-description {
    grid-column: 2;
    grid-row: 2;
  }

  .card-address {
    text-align: center;
    grid-column: 1;
    grid-row: 3/4;
  }

  .card-hours {
    text-align: center;
    grid-column: 2;
    grid-row: 3/4;
  }
}

/* ---------------------------------------------- end max width 700 -------------------------------------------- */

/* --------------------------------------------- Attractions -------------------------------------------- */

.attractions-main{

}

.attractions-container{

}

.attractions-content{

}

.attractions-title{
  
}